<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.web.wachid.pms">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="id.web.wachid.pms.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="id.web.wachid.pms.activity.RegisterActivity" />
        <activity android:name="id.web.wachid.pms.activity.MainActivity" />
        <activity android:name="id.web.wachid.pms.activity.DosenActivity" />
        <activity android:name="id.web.wachid.pms.activity.MatkulActivity" />
        <activity android:name="id.web.wachid.pms.activity.TambahMatkulActivity" />
        <activity android:name="id.web.wachid.pms.activity.MatkulDetailActivity" />
        <activity android:name="id.web.wachid.pms.activity.TambahMatkulActivity2"></activity>
    </application>

</manifest>